<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.google.com/uc%3Fexport%3Ddownload%26id%3D0BwjLSdeSo2n0enVpT1VidzdfTkk%0D%0A</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raylin2011.github.io/image57x57.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raylin2011.github.io/image512x512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>tw.com.fareastone.ossmrtg</string>
				<key>bundle-version</key>
				<string>0.1.6</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>流量e手抓</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
